.meal-item-form {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100%;
}

.meal-item-form button {
  font: inherit;
  cursor: pointer;
  background-color: rgba(138, 43, 6, 0.95);
  border: 1px solid rgb(138, 43, 6);
  color: white;
  padding: 4px 32px;
  border-radius: 20px;
  font-weight: bold;
}

@media (max-width: 412px) and (orientation: portrait) {
  .meal-item-form button {
    padding: 4px 8px;
  }
}

.meal-item-form button:hover {
  background-color: rgba(138, 43, 6, 1);
  border-color: rgb(100, 30, 3);
}
.meal-item-form button:active {
  background-color: rgb(100, 30, 3);
  border-color: rgb(100, 30, 3);
}
