.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: rgb(138, 43, 6);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  padding: 1vh;
}

.header h1 {
  font-size: 4vh;
  margin: 1vw;
}

@media (max-width: 412px) and (orientation: portrait) {
  .header h1 {
    font-size: 4vw;
    margin: 1vw;
  }
}

.main-image {
  width: 100vw;
  height: 400px;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-64px) translateX(-16px);
}
