.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: rgb(77, 22, 1);
  color: white;
  padding: 1.4vh 5.6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  border-radius: 25px;
  font-weight: bold;
}

@media (max-width: 412px) and (orientation: portrait) {
  .button {
    padding: 10px;
  }
}

.button:hover,
.button:active {
  background-color: rgb(44, 13, 0);
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.badge {
  background-color: rgb(185, 69, 23);
  padding: 4px 16px;
  border-radius: 25px;
  margin-left: 16px;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: rgb(146, 50, 12);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
